@font-face
{
    font-family: 'Open Sans', sans-serif;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding: 0;
  margin: 0;
}
body
{
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
  }
@media (max-width: 800px) {
   .topbar{
    display: none !important;
   }
   .navarrow{
    visibility: none;
   }
   .b3 {
    position: absolute !important;
    width:80% !important;
    top: 100% !important;
    left:10% !important;
    }


}
.topbar {
    display: none;
    z-index: 1;
    background-color: #000;
    width:100%;
    color:white !important;
    text-align: center;
    position: fixed;
    top: 0px;
    margin: auto;
    left: 0px;
    height: 10%;
    font-size: 1.5em;
    cursor: pointer;
    border-collapse: collapse;
    opacity: 0.8;
    box-shadow: 0px -0px 100px #000;
}
.navitem{
    width: 16%;
    border:0px solid white;
}
.navarrow{
    display: none;
   width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(0,0,0,0.6);
    position: fixed;
    top:10%;
    left:0px;
    z-index: 3;
}
#content {
    display: none;
}
.bulb{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -101%;
}
.b1, .b2, .b4 {
    width: 2%;
    position: absolute;
}
.b1 {
    top: -5;
    left:15%;
}
.b2 {
    top: -5;
    left:60%;
}
.b3 {
    position: absolute;
    width:60%;
    top: 100%;
    left:20%;
}
.b3a{
     position: absolute;
    width:60%;
    top: 0;
    left:20%;
}
.b4 {
    top: -5;
    left:80%;
}
.head {
    font-family: 'Rough Draft';
    font-size: 4.5em;
    color: #FFF;
}
.page {
    position: static;
    z-index: -1;
    margin:-20px;
    color: transparent;
}
.p1 {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 110%;
}
.p2 {
    background-color: #d7d7d7;
    height: 110%;
}
.p3 {
    background-color: #099035;
    height:110%;
}
.p4 {
    background-color: #d7d7d7;
    height: 110%;
}
.p5 {
    background-color: #cf1212;
    height: 110%;
}
.p6 {
    background-color: #d7d7d7;
    height: 110%;
}
.p7 {
    background-color: rgb(71,41,128);
    height: 110%;
}
.p8 {
    background-color: #d7d7d7;
    height: 110%;
}
a {
    text-decoration: none;
    color: #FFF;
    width: 100%;
    height: 100%;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}